@model IEnumerable<ESBCommunitySite.Models.Member>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a asp-action="History">History</a>
        <a asp-action="Contact">Contact</a>
        <a asp-action="Info">Information</a>
        <a asp-action="Location">Location</a>
        <a asp-action="Roster">Roster</a>
    </nav>
    <div class="text-center">
        <h2>Eugene Symphonic Band Roster</h2>
        <p>Members by Section</p>
    </div>
    <div>
        WORKING ON THIS PART - GET IT ON THE PAGE
        <h4>Flutes</h4>
        @foreach (Member flute in Model.FilterByInstrument("flute"))
        {
            <p>
                @flute.Name
                <br />
                @flute.DateJoined
            </p>
        }
        <h4>Clarinets</h4>
        @foreach (Member clarinet in Model.FilterByInstrument("clarinet"))
        {
            <p>
                @clarinet.Name
                <br />
                @clarinet.DateJoined
            </p>
        }
        <h4>Trumpets</h4>
        @foreach (Member trumpet in Model.FilterByInstrument("trumpet"))
        {
            <p>
                @trumpet.Name
                <br />
                @trumpet.DateJoined
            </p>
        }
    </div>
</body>
</html>
