@model IEnumerable<ESBCommunitySite.Models.Member>

@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Roster - Eugene Symphonic Band Community Site";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="../Home">Home</a>
        <a href="../Home/History">History</a>
        <a href="../Home/Contact">Contact</a>
        <a href="Info/Info">Information</a>
        <a href="Location">Location</a>
        <a href="">Roster</a>
    </nav>
    <div class="text-center">
        <h2>Eugene Symphonic Band Roster</h2>
        <a asp-action="Roster">Members By Section</a>
        <a asp-action="RosterByJoinDate">Members By Join Date</a>
    </div>
    <div>
        ROSTER BY INSTRUMENT UNDERCONSTRUCTION. SEE ROSTER BY JOIN DATE
        <h4>Flutes</h4>
        @foreach (Member flute in Model.FilterByInstrument("flute"))
        {
            <p>
                @flute.Name
                <br />
                @flute.DateJoined
            </p>
        }
        <h4>Clarinets</h4>
        @foreach (Member clarinet in Model.FilterByInstrument("clarinet"))
        {
            <p>
                @clarinet.Name
                <br />
                @clarinet.DateJoined
            </p>
        }
        <h4>Trumpets</h4>
        @foreach (Member trumpet in Model.FilterByInstrument("trumpet"))
        {
            <p>
                @trumpet.Name
                <br />
                @trumpet.DateJoined
            </p>
        }
        <h4>Trombones</h4>
        @foreach (Member trombone in Model.FilterByInstrument("trombone"))
        {
            <p>
                @trombone.Name
                <br />
                @trombone.DateJoined
            </p>
        }
    </div>
</body>
</html>
