@{
    Layout = "_Layout_Info";
    ViewData["Title"] = "Roster - Eugene Symphonic Band Community Site";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Roster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h2>Eugene Symphonic Band Roster</h2>
        <a asp-action="Roster">Members By Section</a>
        <a asp-action="RosterByJoinDate">Members By Join Date</a>
    </div>
    <div>
        ROSTER BY INSTRUMENT UNDERCONSTRUCTION. SEE ROSTER BY JOIN DATE
        <h4>Flutes</h4>
        @foreach (Member flute in ViewBag.flutes)
        {
            <p>
                @flute.Name
                <br />
                @flute.DateJoined
            </p>
        }
        <h4>Clarinets</h4>
        @foreach (Member clarinet in ViewBag.clarinets)
        {
            <p>
                @clarinet.Name
                <br />
                @clarinet.DateJoined
            </p>
        }
        <h4>Trumpets</h4>
        @foreach (Member trumpet in ViewBag.trumpets)
        {
            <p>
                @trumpet.Name
                <br />
                @trumpet.DateJoined
            </p>
        }
        <h4>Trombones</h4>
        @foreach (Member trombone in ViewBag.trombones)
        {
            <p>
                @trombone.Name
                <br />
                @trombone.DateJoined
            </p>
        }
    </div>
</body>
</html>
