@model IEnumerable<ESBCommunitySite.Models.Member>

@{
    Layout = "_Layout_Info";
    ViewBag.Title = "Roster - Eugene Symphonic Band Community Site";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav>
        <a href="/Home/Hisory">History</a>
        <a href="/Home/Contact">Contact</a>
        <a href="Info/Index">Information</a>
        <a href="Info/Location">Location</a>
        <a href="Info/Roster">Roster</a>
    </nav>
    <div class="text-center">
        <h2>Eugene Symphonic Band Roster</h2>
        <p>Members by Section</p>
    </div>
    <div>
        WORKING ON THIS PART - GET IT ON THE PAGE
        <h4>Flutes</h4>
        @foreach (Member flute in Model.FilterByInstrument("flute"))
        {
            <p>
                @flute.Name
                <br />
                @flute.DateJoined
            </p>
        }
        <h4>Clarinets</h4>
        @foreach (Member clarinet in Model.FilterByInstrument("clarinet"))
        {
            <p>
                @clarinet.Name
                <br />
                @clarinet.DateJoined
            </p>
        }
        <h4>Trumpets</h4>
        @foreach (Member trumpet in Model.FilterByInstrument("trumpet"))
        {
            <p>
                @trumpet.Name
                <br />
                @trumpet.DateJoined
            </p>
        }
    </div>
</body>
</html>
