@model IEnumerable<ESBCommunitySite.Models.MessageInfo>

@{
    ViewData["Title"] = "Mailbox";
}
<! DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel-body">
        <h2>Mailbox</h2>
        <table class="table table-lg table-striped table-bordered">
            <thead>
                <tr>
                    <th>Recipient</th>
                    <th>Message Content</th>
                    <th>Message Priority</th>
                    <th>Sender</th>
                    <th>Date & Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MessageInfo mI in Model)
                {
                    <tr>
                        <td class="info">@mI.Recipient</td>
                        <td>@mI.MessageText</td>
                        <td>@mI.MessagePriority</td>
                        <td class="info">@mI.Sender</td>
                        <td>@mI.MessageDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="GetPriorityMail">Order By Priority</a>
        <a asp-action="GetMail">Order By Date</a>
    </div>
</body>
</html>
